
@mixin background-position-placeholders {  
  @each $key, $value in $background-position-options {
    %#{$background-position-prefix}#{$key} { background-position: $value; }
    @include breakpoint-placeholders(#{$background-position-prefix}#{$key}) { background-position: $value; };
    @include pseudoclass-placeholders(#{$background-position-prefix}#{$key}) { background-position: $value; };
  }
}

@mixin background-position-classes {  
  @each $key, $value in $background-position-options {
    .#{$background-position-prefix}#{$key} { background-position: $value; }
    @include breakpoint-classes(#{$background-position-prefix}#{$key}) { background-position: $value; };
    @include pseudoclass-classes(#{$background-position-prefix}#{$key}) { background-position: $value; };
  }
}

