
@mixin background-repeat-placeholders {  
  @each $key, $value in $background-repeat-options {
    %#{$background-repeat-prefix}#{$key} { background-repeat: $value; }
    @include breakpoint-placeholders(#{$background-repeat-prefix}#{$key}) { background-repeat: $value; };
    @include pseudoclass-placeholders(#{$background-repeat-prefix}#{$key}) { background-repeat: $value; };
  }
}

@mixin background-repeat-classes {  
  @each $key, $value in $background-repeat-options {
    .#{$background-repeat-prefix}#{$key} { background-repeat: $value; }
    @include breakpoint-classes(#{$background-repeat-prefix}#{$key}) { background-repeat: $value; };
    @include pseudoclass-classes(#{$background-repeat-prefix}#{$key}) { background-repeat: $value; };
  }
}
