
@mixin background-clip-placeholders {  
  @each $key, $value in $background-clip-options {
    %#{$background-clip-prefix}#{$key} { background-clip: $value; }
    @include breakpoint-placeholders(#{$background-clip-prefix}#{$key}) { background-clip: $value; };
    @include pseudoclass-placeholders(#{$background-clip-prefix}#{$key}) { background-clip: $value; };
  }
}

@mixin background-clip-classes {  
  @each $key, $value in $background-clip-options {
    .#{$background-clip-prefix}#{$key} { background-clip: $value; }
    @include breakpoint-classes(#{$background-clip-prefix}#{$key}) { background-clip: $value; };
    @include pseudoclass-classes(#{$background-clip-prefix}#{$key}) { background-clip: $value; };
  }
}
