
@mixin border-radius-placeholders {  
  @each $key, $value in $border-radius-options {
    %#{$border-radius-prefix}#{$key} { border-radius: $value; }
    @include breakpoint-placeholders(#{$border-radius-prefix}#{$key}) { border-radius: $value; };
    @include pseudoclass-placeholders(#{$border-radius-prefix}#{$key}) { border-radius: $value; };
  }
}

@mixin border-radius-classes {  
  @each $key, $value in $border-radius-options {
    .#{$border-radius-prefix}#{$key} { border-radius: $value; }
    @include breakpoint-classes(#{$border-radius-prefix}#{$key}) { border-radius: $value; };
    @include pseudoclass-classes(#{$border-radius-prefix}#{$key}) { border-radius: $value; };
  }
}

