
@mixin border-width-placeholders {  
  @each $key, $value in $border-width-options {
    %#{$border-width-prefix}#{$key} { border-width: $value; }
    @include breakpoint-placeholders(#{$border-width-prefix}#{$key}) { border-width: $value; };
    @include pseudoclass-placeholders(#{$border-width-prefix}#{$key}) { border-width: $value; };
  }
}

@mixin border-width-classes {  
  @each $key, $value in $border-width-options {
    .#{$border-width-prefix}#{$key} { border-width: $value; }
    @include breakpoint-classes(#{$border-width-prefix}#{$key}) { border-width: $value; };
    @include pseudoclass-classes(#{$border-width-prefix}#{$key}) { border-width: $value; };
  }
}
