
@mixin flex-direction-placeholders {  
  @each $key, $value in $flex-direction-options {
    %#{$flex-direction-prefix}#{$key} { flex-direction: $value; }
    @include breakpoint-placeholders(#{$flex-direction-prefix}#{$key}) { flex-direction: $value; };
    @include pseudoclass-placeholders(#{$flex-direction-prefix}#{$key}) { flex-direction: $value; };
  }
}

@mixin flex-direction-classes {  
  @each $key, $value in $flex-direction-options {
    .#{$flex-direction-prefix}#{$key} { flex-direction: $value; }
    @include breakpoint-classes(#{$flex-direction-prefix}#{$key}) { flex-direction: $value; };
    @include pseudoclass-classes(#{$flex-direction-prefix}#{$key}) { flex-direction: $value; };
  }
}
