
@mixin float-placeholders {  
  @each $key, $value in $float-options {
    %#{$float-prefix}#{$key} { float: $value; }
    @include breakpoint-placeholders(#{$float-prefix}#{$key}) { float: $value; };
    @include pseudoclass-placeholders(#{$float-prefix}#{$key}) { float: $value; };
  }
}

@mixin float-classes {  
  @each $key, $value in $float-options {
    .#{$float-prefix}#{$key} { float: $value; }
    @include breakpoint-classes(#{$float-prefix}#{$key}) { float: $value; };
    @include pseudoclass-classes(#{$float-prefix}#{$key}) { float: $value; };
  }
}
