
@mixin font-weight-placeholders {  
  @each $key, $value in $font-weight-options {
    %#{$font-weight-prefix}#{$key} { font-weight: $value; }
    @include breakpoint-placeholders(#{$font-weight-prefix}#{$key}) { font-weight: $value; };
    @include pseudoclass-placeholders(#{$font-weight-prefix}#{$key}) { font-weight: $value; };
  }
}

@mixin font-weight-classes {  
  @each $key, $value in $font-weight-options {
    .#{$font-weight-prefix}#{$key} { font-weight: $value; }
    @include breakpoint-classes(#{$font-weight-prefix}#{$key}) { font-weight: $value; };
    @include pseudoclass-classes(#{$font-weight-prefix}#{$key}) { font-weight: $value; };
  }
}
