
@mixin margin-placeholders {  
  @each $key, $value in $margin-options {
    %#{$margin-prefix}#{$key} { margin: $value; }
    @include breakpoint-placeholders(#{$margin-prefix}#{$key}) { margin: $value; };
    @include pseudoclass-placeholders(#{$margin-prefix}#{$key}) { margin: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-x-prefix}#{$key} { margin-left: $value; margin-right: $value; }
    @include breakpoint-placeholders(#{$margin-x-prefix}#{$key}) { margin-left: $value; margin-right: $value; };
    @include pseudoclass-placeholders(#{$margin-x-prefix}#{$key}) { margin-left: $value; margin-right: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-y-prefix}#{$key} { margin-top: $value; margin-bottom: $value; }
    @include breakpoint-placeholders(#{$margin-y-prefix}#{$key}) { margin-top: $value; margin-bottom: $value; };
    @include pseudoclass-placeholders(#{$margin-y-prefix}#{$key}) { margin-top: $value; margin-bottom: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-t-prefix}#{$key} { margin-top: $value;}
    @include breakpoint-placeholders(#{$margin-t-prefix}#{$key}) { margin-top: $value; };
    @include pseudoclass-placeholders(#{$margin-t-prefix}#{$key}) { margin-top: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-r-prefix}#{$key} { margin-right: $value;}
    @include breakpoint-placeholders(#{$margin-r-prefix}#{$key}) { margin-right: $value; };
    @include pseudoclass-placeholders(#{$margin-r-prefix}#{$key}) { margin-right: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-b-prefix}#{$key} { margin-bottom: $value;}
    @include breakpoint-placeholders(#{$margin-b-prefix}#{$key}) { margin-bottom: $value; };
    @include pseudoclass-placeholders(#{$margin-b-prefix}#{$key}) { margin-bottom: $value; };
  }
  @each $key, $value in $margin-options {
    %#{$margin-l-prefix}#{$key} { margin-left: $value;}
    @include breakpoint-placeholders(#{$margin-l-prefix}#{$key}) { margin-left: $value; };
    @include pseudoclass-placeholders(#{$margin-l-prefix}#{$key}) { margin-left: $value; };
  }
}

@mixin margin-classes {  
  @each $key, $value in $margin-options {
    .#{$margin-prefix}#{$key} { margin: $value; }
    @include breakpoint-classes(#{$margin-prefix}#{$key}) { margin: $value; };
    @include pseudoclass-classes(#{$margin-prefix}#{$key}) { margin: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-x-prefix}#{$key} { margin-left: $value; margin-right: $value; }
    @include breakpoint-classes(#{$margin-x-prefix}#{$key}) { margin-left: $value; margin-right: $value; };
    @include pseudoclass-classes(#{$margin-x-prefix}#{$key}) { margin-left: $value; margin-right: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-y-prefix}#{$key} { margin-top: $value; margin-bottom: $value; }
    @include breakpoint-classes(#{$margin-y-prefix}#{$key}) { margin-top: $value; margin-bottom: $value; };
    @include pseudoclass-classes(#{$margin-y-prefix}#{$key}) { margin-top: $value; margin-bottom: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-t-prefix}#{$key} { margin-top: $value;}
    @include breakpoint-classes(#{$margin-t-prefix}#{$key}) { margin-top: $value; };
    @include pseudoclass-classes(#{$margin-t-prefix}#{$key}) { margin-top: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-r-prefix}#{$key} { margin-right: $value;}
    @include breakpoint-classes(#{$margin-r-prefix}#{$key}) { margin-right: $value; };
    @include pseudoclass-classes(#{$margin-r-prefix}#{$key}) { margin-right: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-b-prefix}#{$key} { margin-bottom: $value;}
    @include breakpoint-classes(#{$margin-b-prefix}#{$key}) { margin-bottom: $value; };
    @include pseudoclass-classes(#{$margin-b-prefix}#{$key}) { margin-bottom: $value; };
  }
  @each $key, $value in $margin-options {
    .#{$margin-l-prefix}#{$key} { margin-left: $value;}
    @include breakpoint-classes(#{$margin-l-prefix}#{$key}) { margin-left: $value; };
    @include pseudoclass-classes(#{$margin-l-prefix}#{$key}) { margin-left: $value; };
  }
}
