
@mixin overflow-placeholders {  
  @each $key, $value in $overflow-options {
    %#{$overflow-prefix}#{$key} { overflow: $value; }
    @include breakpoint-placeholders(#{$overflow-prefix}#{$key}) { overflow: $value; };
    @include pseudoclass-placeholders(#{$overflow-prefix}#{$key}) { overflow: $value; };
  }
}

@mixin overflow-classes {  
  @each $key, $value in $overflow-options {
    .#{$overflow-prefix}#{$key} { overflow: $value; }
    @include breakpoint-classes(#{$overflow-prefix}#{$key}) { overflow: $value; };
    @include pseudoclass-classes(#{$overflow-prefix}#{$key}) { overflow: $value; };
  }
}
