
@mixin text-size-placeholders {  
  @each $key, $value in $text-size-options {
    %#{$text-size-prefix}#{$key} { text-size: $value; }
    @include breakpoint-placeholders(#{$text-size-prefix}#{$key}) { text-size: $value; };
    @include pseudoclass-placeholders(#{$text-size-prefix}#{$key}) { text-size: $value; };
  }
}

@mixin text-size-classes {  
  @each $key, $value in $text-size-options {
    .#{$text-size-prefix}#{$key} { text-size: $value; }
    @include breakpoint-classes(#{$text-size-prefix}#{$key}) { text-size: $value; };
    @include pseudoclass-classes(#{$text-size-prefix}#{$key}) { text-size: $value; };
  }
}
