
@mixin visibility-placeholders {  
  @each $key, $value in $visibility-options {
    %#{$visibility-prefix}#{$key} { visibility: $value; }
    @include breakpoint-placeholders(#{$visibility-prefix}#{$key}) { visibility: $value; };
    @include pseudoclass-placeholders(#{$visibility-prefix}#{$key}) { visibility: $value; };
  }
}

@mixin visibility-classes {  
  @each $key, $value in $visibility-options {
    .#{$visibility-prefix}#{$key} { visibility: $value; }
    @include breakpoint-classes(#{$visibility-prefix}#{$key}) { visibility: $value; };
    @include pseudoclass-classes(#{$visibility-prefix}#{$key}) { visibility: $value; };
  }
}
