
@mixin width-placeholders {  
  @each $key, $value in $width-options {
    %#{$width-prefix}#{$key} { width: $value; }
    @include breakpoint-placeholders(#{$width-prefix}#{$key}) { width: $value; };
    @include pseudoclass-placeholders(#{$width-prefix}#{$key}) { width: $value; };
  }
  @each $key, $value in $width-options {
    %#{$min-width-prefix}#{$key} { min-width: $value; }
    @include breakpoint-placeholders(#{$min-width-prefix}#{$key}) { min-width: $value; };
    @include pseudoclass-placeholders(#{$min-width-prefix}#{$key}) { min-width: $value; };
  }
  @each $key, $value in $width-options {
    %#{$max-width-prefix}#{$key} { max-width: $value; }
    @include breakpoint-placeholders(#{$max-width-prefix}#{$key}) { max-width: $value; };
    @include pseudoclass-placeholders(#{$max-width-prefix}#{$key}) { max-width: $value; };
  }

}

@mixin width-classes {  
  @each $key, $value in $width-options {
    .#{$width-prefix}#{$key} { width: $value; }
    @include breakpoint-classes(#{$width-prefix}#{$key}) { width: $value; };
    @include pseudoclass-classes(#{$width-prefix}#{$key}) { width: $value; };
  }
  @each $key, $value in $width-options {
    .#{$min-width-prefix}#{$key} { min-width: $value; }
    @include breakpoint-classes(#{$min-width-prefix}#{$key}) { min-width: $value; };
    @include pseudoclass-classes(#{$min-width-prefix}#{$key}) { min-width: $value; };
  }
  @each $key, $value in $width-options {
    .#{$max-width-prefix}#{$key} { max-width: $value; }
    @include breakpoint-classes(#{$max-width-prefix}#{$key}) { max-width: $value; };
    @include pseudoclass-classes(#{$max-width-prefix}#{$key}) { max-width: $value; };
  }
}
