
$height-prefix: "h-" !default;
$min-height-prefix: "hmin-" !default;
$max-height-prefix: "hmax-" !default;

$height-options: (
  "0": 0,
  "vh0": 0vh,
  "vh1": 8.3333vh,
  "vh2": 16.6667vh,
  "vh3": 25vh,
  "vh4": 33.3333vh,
  "vh5": 41.6667vh,
  "vh6": 50vh,
  "vh7": 58.3333vh,
  "vh8": 66.6667vh,
  "vh9": 75vh,
  "vh10": 83.3333vh,
  "vh11": 91.6667vh,
  "vh12": 100vh,

  "p0": 0%,
  "p1": 8.3333%,
  "p2": 16.6667%,
  "p3": 25%,
  "p4": 33.3333%,
  "p5": 41.6667%,
  "p6": 50%,
  "p7": 58.3333%,
  "p8": 66.6667%,
  "p9": 75%,
  "p10": 83.3333%,
  "p11": 91.6667%,
  "p12": 100%,
) !default;
