
$margin-prefix: "m-" !default;
$margin-x-prefix: "mx-" !default;
$margin-y-prefix: "my-" !default;
$margin-t-prefix: "mt-" !default;
$margin-r-prefix: "mr-" !default;
$margin-b-prefix: "mb-" !default;
$margin-l-prefix: "ml-" !default;

$margin-options: (
  "0": 0rem,
  "1": 0.5rem,
  "2": 1rem,
  "3": 1.5rem,
  "4": 2rem,
  "5": 2.5rem,
  "6": 3rem,
) !default;
