
$padding-prefix: "p-" !default;
$padding-x-prefix: "px-" !default;
$padding-y-prefix: "py-" !default;
$padding-t-prefix: "pt-" !default;
$padding-r-prefix: "pr-" !default;
$padding-b-prefix: "pb-" !default;
$padding-l-prefix: "pl-" !default;

$padding-options: (
  "0": 0rem,
  "1": 0.5rem,
  "2": 1rem,
  "3": 1.5rem,
  "4": 2rem,
  "5": 2.5rem,
  "6": 3rem,
) !default;
