
$width-prefix: "w-" !default;
$min-width-prefix: "wmin-" !default;
$max-width-prefix: "wmax-" !default;

$width-options: (
  "0": 0,
  "vw0": 0vw,
  "vw1": 8.3333vw,
  "vw2": 16.6667vw,
  "vw3": 25vw,
  "vw4": 33.3333vw,
  "vw5": 41.6667vw,
  "vw6": 50vw,
  "vw7": 58.3333vw,
  "vw8": 66.6667vw,
  "vw9": 75vw,
  "vw10": 83.3333vw,
  "vw11": 91.6667vw,
  "vw12": 100vw,

  "p0": 0%,
  "p1": 8.3333%,
  "p2": 16.6667%,
  "p3": 25%,
  "p4": 33.3333%,
  "p5": 41.6667%,
  "p6": 50%,
  "p7": 58.3333%,
  "p8": 66.6667%,
  "p9": 75%,
  "p10": 83.3333%,
  "p11": 91.6667%,
  "p12": 100%,
) !default;
