

$breakpoint-table: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  // xxl: 1400px,
) !default;

@function _specificity($index) {
  $result: "";
  @for $_ from 1 through $index {
    $result: ":not(:root)" + $result;
  }
  @return $result;
}

@function breakpoint-variants($list, $classname) {
  @each $key, $value in $breakpoint-table {
    $list: append($list, #{$classname}--#{$key})
  }
  @return $list
} 

@mixin breakpoint-placeholders($classname) {
  @each $key, $value in $breakpoint-table {
    $index: index(($breakpoint-table), ($key $value));

    %#{$classname}--#{$key} {
      @media (min-width: $value) {
        &#{_specificity($index)} {
          @content;
        }
      }
    }    
  }
}

@mixin breakpoint-classes($classname) {
  @each $key, $value in $breakpoint-table {
    .#{$classname}--#{$key} {
      @media (min-width: $value) {
        @content;
      }
    }    
  }
}
