
@import '../utils/map.scss';

$background-size-prefix: 'bg-' !default;

$background-size-table: map-prefix(
  (
    'auto': auto,
    'cover': cover,
    'contain': contain,
  ),
  $background-size-prefix  
) !default;

@each $key, $value in $background-size-table {
  %#{$key} { background-size: $value; }
  @include breakpoint-placeholders(#{$key}) { background-size: $value; };
  @include state-placeholders(#{$key}) { background-size: $value; };
}

$background-size-atoms: ();
$background-size-atoms--breakpoints: ();
$background-size-atoms--states: ();

@each $key, $value in $background-size-table {
  $background-size-atoms: append($background-size-atoms, $key);
  $background-size-atoms--breakpoints: breakpoint-variants($background-size-atoms--breakpoints, $key);
  $background-size-atoms--states: state-variants($background-size-atoms--states, $key);
}
