
@import '../utils/map.scss';

$background-repeat-prefix: 'bg-' !default;

$background-repeat-table: map-prefix(
  (
    'repeat': repeat,
    'no-repeat': no-repeat,
    'repeat-x': repeat-x,
    'repeat-y': repeat-y,
  ),
  $background-repeat-prefix
) !default;

@each $key, $value in $background-repeat-table {
  %#{$key} { background-repeat: $value; }
  @include breakpoint-placeholders(#{$key}) { background-repeat: $value; };
  @include state-placeholders(#{$key}) { background-repeat: $value; };
}

$background-repeat-atoms: ();
$background-repeat-atoms--breakpoints: ();
$background-repeat-atoms--states: ();

@each $key, $value in $background-repeat-table {
  $background-repeat-atoms: append($background-repeat-atoms, $key);
  $background-repeat-atoms--breakpoints: breakpoint-variants($background-repeat-atoms--breakpoints, $key);
  $background-repeat-atoms--states: state-variants($background-repeat-atoms--states, $key);
}
