
@import '../utils/map.scss';

@import './colors.scss';

$border-color-prefix: 'border-' !default;

$border-color-table: map-prefix(
  $color-table,
  $border-color-prefix
) !default;

// @debug $border-color-table;

@each $key, $value in $border-color-table {
  %#{$key} { border-color: $value; }
  @include breakpoint-placeholders(#{$key}) { border-color: $value; };
  @include state-placeholders(#{$key}) { border-color: $value; };
}

$border-color-atoms: ();
$border-color-atoms--breakpoints: ();
$border-color-atoms--states: ();

@each $key, $value in $border-color-table {
  $border-color-atoms: append($border-color-atoms, $key);
  $border-color-atoms--breakpoints: breakpoint-variants($border-color-atoms--breakpoints, $key);
  $border-color-atoms--states: state-variants($border-color-atoms--states, $key);
}
