
@import '../utils/map.scss';

$border-style-prefix: 'border-' !default;

$border-style-table: map-prefix(
  (
    'solid': solid,
    'dashed': dashed,
    'dotted': dotted,
    'double': double,
    'none': none,
  ),
  $border-style-prefix
) !default;

@each $key, $value in $border-style-table {
  %#{$key} { border-style: $value; }
  @include breakpoint-placeholders(#{$key}) { border-style: $value; };
  @include state-placeholders(#{$key}) { border-style: $value; };
}

$border-style-atoms: ();
$border-style-atoms--breakpoints: ();
$border-style-atoms--states: ();

@each $key, $value in $border-style-table {
  $border-style-atoms: append($border-style-atoms, $key);
  $border-style-atoms--breakpoints: breakpoint-variants($border-style-atoms--breakpoints, $key);
  $border-style-atoms--states: state-variants($border-style-atoms--states, $key);
}
