
@import '../utils/map.scss';

$border-width-prefix: 'border-' !default;

$border-width-table: map-prefix(
  (
    '0': 0,
    '1': 1px,
    '2': 2px,
    '3': 3px,
    '4': 4px,
    '5': 5px,
    '6': 6px,
  ),
  $border-width-prefix
) !default;


@each $key, $value in $border-width-table {
  %#{$key} { border-width: $value; }
  @include breakpoint-placeholders(#{$key}) { border-width: $value; };
  @include state-placeholders(#{$key}) { border-width: $value; };
}

$border-width-atoms: ();
$border-width-atoms--breakpoints: ();
$border-width-atoms--states: ();

@each $key, $value in $border-width-table {
  $border-width-atoms: append($border-width-atoms, $key);
  $border-width-atoms--breakpoints: breakpoint-variants($border-width-atoms--breakpoints, $key);
  $border-width-atoms--states: state-variants($border-width-atoms--states, $key);
}
