
@import '../utils/map.scss';

$clear-prefix: 'clear-' !default;

$clear-table: map-prefix(
  (
    'left': left,
    'right': right,
    'both': both,
    'none': none,
  ),
  $clear-prefix
) !default;

@each $key, $value in $clear-table {
  %#{$key} { clear: $value; }
  @include breakpoint-placeholders(#{$key}) { clear: $value; };
  @include state-placeholders(#{$key}) { clear: $value; };
}

$clear-atoms: ();
$clear-atoms--breakpoints: ();
$clear-atoms--states: ();

@each $key, $value in $clear-table {
  $clear-atoms: append($clear-atoms, $key);
  $clear-atoms--breakpoints: breakpoint-variants($clear-atoms--breakpoints, $key);
  $clear-atoms--states: state-variants($clear-atoms--states, $key);
}
