
@import '../utils/map.scss';

$font-weight-prefix: 'font-' !default;

$font-weight-table: map-prefix(
  (
    '100': 100,
    '200': 200,
    '300': 300,
    '400': 400,
    '500': 500,
    '600': 600,
    '700': 700,
    '800': 800,
    '900': 900,
  
    'thin': 100,
    'light': 200,
    'semilight': 300,
    'normal': 400,
    'medium': 500,
    'semibold': 600,
    'bold': 700,
    'extrabold': 800,
    'thick': 900,
  
  ),
  $font-weight-prefix
) !default;

@each $key, $value in $font-weight-table {
  %#{$key} { font-weight: $value; }
  @include breakpoint-placeholders(#{$key}) { font-weight: $value; };
  @include state-placeholders(#{$key}) { font-weight: $value; };
}

$font-weight-atoms: ();
$font-weight-atoms--breakpoints: ();
$font-weight-atoms--states: ();

@each $key, $value in $font-weight-table {
  $font-weight-atoms: append($font-weight-atoms, $key);
  $font-weight-atoms--breakpoints: breakpoint-variants($font-weight-atoms--breakpoints, $key);
  $font-weight-atoms--states: state-variants($font-weight-atoms--states, $key);
}
