
@import '../utils/map.scss';

$font-family-prefix: "font-" !default;

$font-family-table: map-prefix(
  (
    "sans": "ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, \"Helvetica Neue\", Arial, \"Noto Sans\", sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\", \"Noto Color Emoji\"",
    "serif": "ui-serif, Georgia, Cambria, \"Times New Roman\", Times, serif",
    "mono": "ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, \"Liberation Mono\", \"Courier New\", monospace",
  ),
  $font-family-prefix
) !default;


@each $key, $value in $font-family-table {
  %#{$key} { font-family: #{$value}; }
  @include breakpoint-placeholders(#{$key}) { font-family: #{$value}; };
  @include state-placeholders(#{$key}) { font-family: #{$value}; };
}

$font-family-atoms: ();
$font-family-atoms--breakpoints: ();
$font-family-atoms--states: ();

@each $key, $value in $font-family-table {
  $font-family-atoms: append($font-family-atoms, $key);
  $font-family-atoms--breakpoints: breakpoint-variants($font-family-atoms--breakpoints, $key);
  $font-family-atoms--states: state-variants($font-family-atoms--states, $key);
}
