
@import '../utils/map.scss';

$grid-columns-prefix: 'col-' !default;

$grid-columns-table: map-prefix(
  (
    'auto': 'auto',
    'span-1': 'span 1 / span 1',
    'span-2': 'span 2 / span 2',
    'span-3': 'span 3 / span 3',
    'span-4': 'span 4 / span 4',
    'span-5': 'span 5 / span 5',
    'span-6': 'span 6 / span 6',
    'span-7': 'span 7 / span 7',
    'span-8': 'span 8 / span 8',
    'span-9': 'span 9 / span 9',
    'span-10': 'span 10 / span 10',
    'span-11': 'span 11 / span 11',
    'span-12': 'span 12 / span 12',
    'span-full': '1 / -1',
  ),
  $grid-columns-prefix
) !default;

@each $key, $value in $grid-columns-table {
  %#{$key} { grid-column: #{$value}; }
  @include breakpoint-placeholders(#{$key}) { grid-column: #{$value}; };
  @include state-placeholders(#{$key}) { grid-column: #{$value}; };
}

$grid-columns-atoms: ();
$grid-columns-atoms--breakpoints: ();
$grid-columns-atoms--states: ();

@each $key, $value in $grid-columns-table {
  $grid-columns-atoms: append($grid-columns-atoms, $key);
  $grid-columns-atoms--breakpoints: breakpoint-variants($grid-columns-atoms--breakpoints, $key);
  $grid-columns-atoms--states: state-variants($grid-columns-atoms--states, $key);
}

// @debug $grid-columns-atoms;
// @debug $grid-columns-atoms--breakpoints;
// @debug $grid-columns-atoms--states;
