
@import '../utils/map.scss';

$object-position-prefix: 'obj-' !default;

$object-position-table: map-prefix(
  (
    'top-left': top left,
    'top': top,
    'top-right': top right,
    'left': left,
    'center': center,
    'right': right,
    'bottom-left': bottom left,
    'bottom': bottom,
    'bottom-right': bottom right,
  ),
  $object-position-prefix
) !default;

@each $key, $value in $object-position-table {
  %#{$key} { object-position: $value; }
  @include breakpoint-placeholders(#{$key}) { object-position: $value; };
  @include pseudoclass-placeholders(#{$key}) { object-position: $value; };
}

$object-position-atoms: ();
@each $key, $value in $object-position-table {
  $object-position-atoms: append($object-position-atoms, $key);
  $object-position-atoms: breakpoint-variants($object-position-atoms, $key);
  $object-position-atoms: pseudoclass-variants($object-position-atoms, $key);
}
