
@import '../utils/map.scss';

$object-fit-prefix: 'obj-' !default;

$object-fit-table: map-prefix(
  (
    'contain': contain,
    'cover': cover,
    'fill': fill,
    'none': none,
    'scale-down': scale-down,
  ),
  $object-fit-prefix
) !default;

@each $key, $value in $object-fit-table {
  %#{$key} { object-fit: $value; }
  @include breakpoint-placeholders(#{$key}) { object-fit: $value; };
  @include state-placeholders(#{$key}) { object-fit: $value; };
}

$object-fit-atoms: ();
$object-fit-atoms--breakpoints: ();
$object-fit-atoms--states: ();

@each $key, $value in $object-fit-table {
  $object-fit-atoms: append($object-fit-atoms, $key);
  $object-fit-atoms--breakpoints: breakpoint-variants($object-fit-atoms--breakpoints, $key);
  $object-fit-atoms--states: state-variants($object-fit-atoms--states, $key);
}
