
@import '../utils/map.scss';

$position-prefix: 'pos-' !default;

$position-table: map-prefix(
  (
    'static': static,
    'fixed': fixed,
    'absolute': absolute,
    'relative': relative,
    'sticky': sticky
  ),
  $position-prefix
)
 !default;

 @each $key, $value in $position-table {
  %#{$key} { position: $value; }
  @include breakpoint-placeholders(#{$key}) { position: $value; };
  @include state-placeholders(#{$key}) { position: $value; };
}

$position-atoms: ();
$position-atoms--breakpoints: ();
$position-atoms--states: ();

@each $key, $value in $position-table {
  $position-atoms: append($position-atoms, $key);
  $position-atoms--breakpoints: breakpoint-variants($position-atoms--breakpoints, $key);
  $position-atoms--states: state-variants($position-atoms--states, $key);
}
