
@import '../utils/map.scss';

$text-size-prefix: 'text-' !default;

$text-size-table: map-prefix(
  (
    'xs': 0.75rem,
    'sm': 0.875rem,
    'md': 1rem,
    'lg': 1.125rem,
    'xl': 1.25rem,
    '2xl': 1.5rem,
    '3xl': 1.875rem,
    '4xl': 2.25rem,
    '5xl': 3rem,
    '6xl': 3.75rem,
  ),
  $text-size-prefix
) !default;

$text-line-height-table: map-prefix(
  (
    'xs': 1rem,
    'sm': 1.25rem,
    'md': 1.5rem,
    'lg': 1.75rem,
    'xl': 1.75rem,
    '2xl': 2rem,
    '3xl': 2.25rem,
    '4xl': 2.5rem,
    '5xl': 1,
    '6xl': 1,
  ),
  $text-size-prefix
) !default;


@each $key, $value in $text-size-table {
  %#{$key} { font-size: $value; }
  @include breakpoint-placeholders(#{$key}) { font-size: $value; };
  @include state-placeholders(#{$key}) { font-size: $value; };
}

@each $key, $value in $text-line-height-table {
  %#{$key} { line-height: $value; }
  @include breakpoint-placeholders(#{$key}) { line-height: $value; };
  @include state-placeholders(#{$key}) { line-height: $value; };
}


$text-size-atoms: ();
$text-size-atoms--breakpoints: ();
$text-size-atoms--states: ();

@each $key, $value in $text-size-table {
  $text-size-atoms: append($text-size-atoms, $key);
  $text-size-atoms--breakpoints: breakpoint-variants($text-size-atoms--breakpoints, $key);
  $text-size-atoms--states: state-variants($text-size-atoms--states, $key);
}
