
@import '../utils/map.scss';

$width-prefix: 'w-' !default;
$min-width-prefix: 'wmin-' !default;
$max-width-prefix: 'wmax-' !default;

$width-table-base: (
  '0': 0,
  'vw0': 0vw,
  'vw1': 8.3333vw,
  'vw2': 16.6667vw,
  'vw3': 25vw,
  'vw4': 33.3333vw,
  'vw5': 41.6667vw,
  'vw6': 50vw,
  'vw7': 58.3333vw,
  'vw8': 66.6667vw,
  'vw9': 75vw,
  'vw10': 83.3333vw,
  'vw11': 91.6667vw,
  'vw12': 100vw,

  'p0': 0%,
  'p1': 8.3333%,
  'p2': 16.6667%,
  'p3': 25%,
  'p4': 33.3333%,
  'p5': 41.6667%,
  'p6': 50%,
  'p7': 58.3333%,
  'p8': 66.6667%,
  'p9': 75%,
  'p10': 83.3333%,
  'p11': 91.6667%,
  'p12': 100%,
) !default;

$width-table: map-prefix(
  $width-table-base,
  $width-prefix
) !default;

$min-width-table: map-prefix(
  $width-table-base,
  $min-width-prefix
) !default;

$max-width-table: map-prefix(
  $width-table-base,
  $max-width-prefix
) !default;

@each $key, $value in $width-table {
  %#{$key} { width: $value; }
  @include breakpoint-placeholders(#{$key}) { width: $value; };
  @include state-placeholders(#{$key}) { width: $value; };
}

$width-atoms: ();
$width-atoms--breakpoints: ();
$width-atoms--states: ();

@each $key, $value in $width-table {
  $width-atoms: append($width-atoms, $key);
  $width-atoms--breakpoints: breakpoint-variants($width-atoms--breakpoints, $key);
  $width-atoms--states: state-variants($width-atoms--states, $key);
}

@each $key, $value in $min-width-table {
  %#{$key} { min-width: $value; }
  @include breakpoint-placeholders(#{$key}) { min-width: $value; };
  @include state-placeholders(#{$key}) { min-width: $value; };
}

$min-width-atoms: ();
$min-width-atoms--breakpoints: ();
$min-width-atoms--states: ();

@each $key, $value in $min-width-table {
  $min-width-atoms: append($min-width-atoms, $key);
  $min-width-atoms--breakpoints: breakpoint-variants($min-width-atoms--breakpoints, $key);
  $min-width-atoms--states: state-variants($min-width-atoms--states, $key);
}

@each $key, $value in $max-width-table {
  %#{$key} { max-width: $value; }
  @include breakpoint-placeholders(#{$key}) { max-width: $value; };
  @include state-placeholders(#{$key}) { max-width: $value; };
}

$max-width-atoms: ();
$max-width-atoms--breakpoints: ();
$max-width-atoms--states: ();

@each $key, $value in $max-width-table {
  $max-width-atoms: append($max-width-atoms, $key);
  $max-width-atoms--breakpoints: breakpoint-variants($max-width-atoms--breakpoints, $key);
  $max-width-atoms--states: state-variants($max-width-atoms--states, $key);
}
