<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="./page.css">
<link rel="stylesheet" href="banner.css">
<!-- <link rel="stylesheet" href="../dev.css"> -->
</head>
<body>

<div class="page p-2">
  <div class="banner xs bg-primary-100 p-1 round-3">
    <h1 class="title">This is a xs banner</h1>
    <h2 class="subtitle">This is a subtitle</h2>
    <p class="text">This is some text</p>
  </div>
  <div class="banner sm bg-primary-200 p-1 round-3">
    <h1 class="title">This is a sm banner</h1>
    <h2 class="subtitle">This is a subtitle</h2>
    <p class="text">This is some text</p>
  </div>
  <div class="banner md bg-primary-300 p-1 round-3">
    <h1 class="title">This is a md banner</h1>
    <h2 class="subtitle">This is a subtitle</h2>
    <p class="text">This is some text</p>
  </div>
  <div class="banner lg bg-primary-400 p-1 round-3">
    <h1 class="title">This is a lg banner</h1>
    <h2 class="subtitle">This is a subtitle</h2>
    <p class="text">This is some text</p>
  </div>
  <div class="banner xl bg-primary-500 p-1 round-3">
    <h1 class="title">This is a xl banner</h1>
    <h2 class="subtitle">This is a subtitle</h2>
    <p class="text">This is some text</p>
  </div>

  <br />
  
  <!-- <div class="banner -sm -bg-primary-100 p-1">
    <h1>This is a -sm banner</h1>
  </div>
  <br />
  
  <div class="banner -md -bg-primary-100 p-1">
    <h1>This is a -md banner</h1>
  </div>
  <br />
  
  <div class="banner -lg -bg-primary-100 p-1">
    <h1>This is a -lg banner</h1>
  </div>
  <br />
  
  <div class="banner -xl -bg-primary-100 p-1">
    <h1>This is a -xl banner</h1>
  </div>
  <br /> -->
</div>


</body>
</html>
